/*  basic configs   */
/* DO NOT CHANGE */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

:root {
    --whitesiler: #f1f1f1;
    --maroon: #ab3349;
    --whitegolden: #fff7d1;
    --skyishblue: #66ccff;
    /* accented icons */
    --accented-whitesiler: #dadada;
    --accented-maroon: #8a293a;
    --accented-whitegolden: #ffee98;
    --accented-skyishblue: #3dbeff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    font-family: sans-serif;
    transition: 300ms all;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    background-color: var(--whitesiler);
}


/*  header  */
/* Upper Header */

header > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > div img {
    width: 10vw;
}

header > div > div > * {
    font-size: 1.5vw;
}

/* Nav Bar */

header nav, #small-nav div {
    background-color: var(--maroon);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav div:has(a), #small-nav div {
    background-color: var(--whitegolden);
    border-radius: 100vw;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav div a {
    color: black;
}

header nav div a:hover {
    text-decoration: underline;
}

header nav div button {
    background-color: var(--skyishblue);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 100vw;
}

header nav div button:hover {
    background-color: var(--accented-skyishblue);
}

#small-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100dvh;
    background-color: var(--whitegolden);
    z-index: 30;
    padding-top: 30%;
}

#small-nav div {
    margin: auto;
    background-color: var(--maroon);
    width: min-content;
    padding: 100px 30px;
    flex-direction: column;
}

#small-nav div a {
    color: white;
}

/* Main */

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

#side {
    width: 30%;
    height: 39vw;
    background-color: var(--maroon);
    border-radius: 10px;
}

#QR-text, #side h1, #side a {
    color: white;
    text-align: center;
    margin: 10px;
}


#my-qr-reader {
    padding: 20px !important;
    border: 1.5px solid #b2b2b2 !important;
    border-radius: 8px;
    margin-inline: 5px;
}

#my-qr-reader img[alt="Info icon"] {
    display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}

#my-qr-reader button {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    outline: none;
    border-radius: 0.25em;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #008000ad;
    transition: 0.3s background-color;
}

#my-qr-reader button:hover {
    background-color: #008000;
}

#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
    color: #1d9bf0;
}

video {
    width: 100% !important;
    border: 1px solid #b2b2b2 !important;
    border-radius: 0.25em;
}

#my-qr-reader__dashboard {
    display: none;
}

/* slideshow */

.slideshow-main {
    background-color: var(--whitegolden);
    padding-bottom: 10px;
    border-radius: 10px;
}

.slideshow-container {
    position: relative;
    background-color: var(--whitegolden);
}

.mySlides {
    display: none;
    width: 64vw;
    height: 36vw;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.534);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer-distributed{
    background: var(--maroon);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer Center */

footer {
    background-color: var(--maroon);
    display: flex;
    padding: 100px 3vw;
}

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  var(--skyishblue);
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  var(--skyishblue);
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  var(--skyishblue);
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
}

/*  Responsive  */

@media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    
    #top-header div span {
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 670px) {
    header nav div a, button {
        line-height: 0.7;
    }
}

@media only screen and (max-width: 470px) {
    header nav div:has(a) {
        width: auto;
    }
    
    header nav div a:has(i) {
        display: inline !important;
    }
    
    header nav div a:not(i) {
        display: none;
    } 
}